* {
    font-family: 'Roboto' sans-serif;
  }
  
  header {
    position: relative;
  }
  
  nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 10;
  }
  
  .menu {
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  
    .menu_link {
      color: #ffffff;
      font-size: 15px;
      font-weight: 300;
      text-decoration: none;
    }
  
    .menu_item {
      border-right: 2px dotted #000;
      padding-right: 28px;
    }
  }
  
  .subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(50px);
    z-index: 5;
  
    .subheader_logo {
      display: block;
      max-width: 100%;
      margin-top: 16px;
    }
  
    .subheader_official {
      margin-top: 6px;
      color: #ffffff;
      font-weight: 400;
      font-size: 13px;
      opacity: 0.5;
    }
  
    .subheader_call {
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      margin-top: 19px;
      text-align: right;
    }
  
    .subheader_phone {
      display: block;
      margin-top: 8px;
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      text-align: right;
      line-height: 12px;
      text-decoration: none;
    }
  
    .subheader_btn {
      margin-top: 19px;
      width: 172px;
      height: 46px;
      box-shadow: inset 0 -3px rgba(0, 0, 0, 0.12);
      border: none;
      border-radius: 4px;
      background-image: linear-gradient(to top, #1eacc7, #4ce2ff 100%);
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  
  .promo {
    transform: translateY(50px);
    min-height: 800px;
    background: url('../img/bg/uber_bg.jpg') center (center / cover) no-repeat;
    padding: 135px 0 135px 0;
  
    .promo_header {
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 60px;
      text-align: center;
      line-height: 60px;
      margin: 0;
    }
  
    .promo_subheadr {
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 36px;
      margin: 0;
      margin-top: 20px;
      text-align: center;
    }
  
    .promo_descr {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      margin-top: 23px;
    }
  
    .promo_btn {
      display: block;
      margin: 118px auto 0 auto;
      width: 259px;
      height: 63px;
      background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
      box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
      border: none;
      border-radius: 4px;
      color: #ffffff;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  
  /* repeater code begin*/
  
  .title {
    margin: 70px auto 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }
  
  .sub_title {
    font-weight: 700;
    font-size: 38px;
    color: #222222;
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    text-transform: uppercase;
  }
  .sub_descr {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    color: #222222;
}
  
  /* repeater code end */
  
  .reasons {
    .reasons_block {
      display: flex;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 26px;
    }
  
    .reasons_img {
      margin-right: 25px;
      width: 116px;
      height: 116px;
      background: #1EACC7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        /* display: block;
        margin: 30px auto; */
        max-width: 100%;
      }
    }
  
    .reasons_descr {
      width: 370px;
      min-height: 150px;
      font-weight: 300;
      font-size: 15px;
      line-height: 21px;
      color: #202020;
  
      span {
        font-weight: 400;
        font-size: 17px;
        color: #1EACC7;
      }
    }
  }
  .mobile {
    min-height: 864px;
    background: url('../img/bg/mobile_bg.jpg') center center/cover no-repeat;
    padding-top: 10px;
    .row {
        margin-top: 32px;
    }
    .title {
        margin-top: 30px;
    }
    &_item {
        position: relative;
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 19px;
        padding-top: 80px;
        &_1 {
            background: url('../img/card.png') center center/cover no-repeat;
        }
        &_2 {
            background: url('../img/card2.png') center center/cover no-repeat;
        }
        &_3 {
            background: url('../img/card3.png') center center/cover no-repeat;
        }
        &_4 {
            background: url('../img/card4.png') center center/cover no-repeat;
        }
        &_5 {
            background: url('../img/card5.png') center center/cover no-repeat;
        }
        &_6 {
            background: url('../img/card6.png') center center/cover no-repeat;
        }
        &_subtitle {
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
        }
        &_plus {
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            background-color: #000000;
            margin: 0 auto;
            border-radius: 100%;
            cursor: pointer;
        }
    }
  }
  .car {
    min-height: 968px;
    background: url('../img/bg/Group1.jpg') center center/cover no-repeat;
    padding: 57px 0;
    .title {
        margin: 0 auto;
        color: #000000;
        background-color: #ffffff;
    }
    .sub_title {
        color: #ffffff;
    }
    .sub_descr {
        color: #ffffff;
    }
    &_img {
        display: block;
        margin: 54px auto 0 auto;
    }
    &_text {
        text-align: center;
        font-size: 17px;
        color: #222222;
        font-weight: 300;
    }
}

.world {
    min-height: 720px;
    background: url('../img/bg/Group2.jpg') center center/cover no-repeat;
    padding: 46px 0 22px 0;
    .title {
        margin: 0 auto;
        color: #000000;
        background-color: #ffffff;
    }
    .sub_title {
        color: #ffffff;
    }
    .sub_descr {
        color: #ffffff;
    }
    &_look {
        margin-top: 450px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
}
